<div class="cabecera">
    <div class="cabecera__logo">
      <picture>
        <source srcset="./assets/images/logo-tenis.png?as=webp&width=350" type="image/webp" />
        <a href="/src/index.html"><img class="cabecera__logo-img hg-100" src="./assets/images/logo-tenis.png" alt="Logo del club"/></a>
      </picture>
    </div>
    <div class="cabecera__menu">
      <ul class="cabecera__lista">
        <li><a class="color-corporate-black" href="/src/participantes.html">Participantes</a></li>
        <li><a class="color-corporate-black" href="">Información</a></li>
        <li><a class="color-corporate-black" href="">Formulario</a></li>
      </ul>
    </div>
  </div>