<footer class="tenis-footer color-corporate-black width-footer-90 wd-100">
    <div class="footer__logo hg-100">
        <picture>
            <source srcset="./assets/images/logo-tenis.png?as=webp&width=350" type="image/webp" />
            <a href="/src/index.html"><img class="footer__logo-img" src="./assets/images/logo-tenis.png" alt="Logo del club"/></a>
        </picture>
    </div>
    <div class="footer__paginas">
        <ul class="footer__paginas-lista">
            <li><a class="color-corporate-black" href="/src/participantes.html">Participantes</a></li>
            <li><a class="color-corporate-black" href="">Información</a></li>
            <li><a class="color-corporate-black" href="">Formulario</a></li>
        </ul>
    </div>
    <div class="footer__rrss">
        <ul class="footer__rrss-lista">
            <li><a href="#"><img src="./assets/images/facebook.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="./assets/images/twitter.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="./assets/images/youtube.png" alt="Youtube"></a></li>
        </ul>
    </div>
</footer>